#calculator-app {
    font-family: Arial, Helvetica, sans-serif !important;
    /* width: 90%; */
    margin: 0 auto;
  }
  
  .padding-20 {
    padding-right: 20px;
    padding-left: 20px;
  }
  
  
  
  .yellow {
    color: black;
    background-color: #d19c49 !important;
    border: none !important;
  
  
  }
  
  #calculator-app {
    font-size: 1.2rem;
  }
  
  #calculator-app input {
    font-size: 1.2rem;
  }
  
  #calculator-app input[type=number],
  input[type=text],
  select {
    width: 100%;
    padding: 8px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bolder;
    box-sizing: border-box;
  }
  
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 3px;
  }
  
  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #customers tr:hover {
    background-color: #ddd;
  }
  
  #customers th {
  
    text-align: center;
    /* background-color: #0054a6; */
    /* color: white; */
  }
  
  #calculator-app .table-header {
    text-align: center;
    padding: 10px;
    background-color: #0054a6;
    color: white;
  }
  
  
  .app-container {
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
  
  }
  
  .app-content {
    width: 75%;
    height: 70vh;
    margin: auto;
    position: relative;
  
    z-index: 2;
  
  
  }
  
  .roundbox {
    content: "";
    width: 200px;
    height: 150px;
    position: absolute;
    border-radius: 50px;
    left: -12px;
    top: -12px;
    z-index: -1;
    background-color: #ffc573;
  }
  
  
  .curve-bg {
    content: "";
    width: 50%;
    height: 350px;
    position: absolute;
    right: 100px;
    top: -200px;
    scale: 1.1;
    z-index: 2;
  }
  
  
  
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('bg.png');
    background-repeat: no-repeat;
      background-size: 100% 100%;
    border-radius: 50px;
  }
  
  
  
  
  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: white;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 45px;
    border-radius: 35px;
    background: #ffc573;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 16px;
    height: 45px;
    border-radius: 35px;
    background: #ffc573;
    cursor: pointer;
  }
  
  .inputContainer{
    margin-left: 50px;
    padding-top: 50px;
  }
  .m-0{
    margin: 0 !important;
  }
  .green{
    color: #0a51a9 !important;
  }
  h2{
    font-weight: 600;
  }
  .light-black{
  color: #696969;
  }
  .mt-8 {
    margin-top: 3rem !important;
  }
  .period{
    background-color: #dddddd;
    color: white;
    width: 60px !important;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 35px;
    cursor: pointer;
    margin: 5px;
  
  }
  .active{
    background-color: #ffc573;
    color: black;
  }
  .periods{
    display: flex;
    gap: 4;
    
  }
  .period:hover{
    background-color: #aaa4a4;
  }
  .active:hover{
    background-color: #ffc573;
    color: black;
  }