<div>

    <div id="calculator-app" style="padding:20px;">
  
      <h4 class="btn">{{ message }}</h4>
  
      <table class="inputTable" style="text-align: end">
        <tr>
          <td class="green padding-20"> Loan Amount</td>
          <td ><input class="yellow"   v-model="loanAmount" style="text-align: end" type="number" step="any" name="" id=""></td>
        </tr>
        <tr>
          <td  class="green padding-20">Interest Rate (Annual)</td>
          <td><input class="yellow"   v-model="interestRateAnnual" style="text-align: end" type="number" step="any" name="" id=""></td>
        </tr>
        <tr>
          <td  class="green padding-20">Loan period in years</td>
          <td><input  class="yellow"  v-model="loanPeriodInYears" style="text-align: end" type="number" step="any" name="" id=""></td>
        </tr>
        <tr>
          <td  class="green padding-20">Monthly Payment</td>
          <td ><input  readonly v-model="monthlyPayment" style="text-align: end" type="number" step="any" name="" id="">
          </td>
        </tr>
        <tr>
          <td  class="green padding-20">Total Payments</td>
          <td><input  readonly v-model="totalPayment" style="text-align: end" type="number" step="any" name="" id=""></td>
        </tr>
      </table>
  
  
      <h2 class="table-header">2-1 BUY DOWN</h2>
  
      <table id="customers" style="text-align: center;">
        <tr>
          <th>Interest Rate</th>
          <th>Monthly Payment</th>
          <th>Monthly Payment Reduction</th>
          <th># of Payments</th>
          <th>Annual Payment Reduction</th>
  
  
        </tr>
        <tr>
          <td><input readonly v-model="twoOneInterestRate1" style="text-align: center" type="text" step="any" name="" id=""></td>
          <td><input readonly v-model="twoOneMonthlyPayment1" style="text-align: center" type="text" name="" id=""></td>
          <td><input readonly v-model="twoOneMonthlyPaymentReduction1" style="text-align: center" type="text" name="" id=""></td>
          <td><input readonly v-model="twoOneOfPayment1" style="text-align: center" type="text" name="" id=""></td>
          <td><input readonly v-model="twoOneAnnualPaymentRed1"  style="text-align: center" type="text" name="" id=""></td>
  
        </tr>
        <tr>
          <td><input readonly v-model="twoOneInterestRate2" style="text-align: center" type="text" name="" id=""></td>
          <td><input readonly v-model="twoOneMonthlyPayment2" style="text-align: center" type="text" name="" id=""></td>
          <td><input readonly v-model="twoOneMonthlyPaymentReduction2" style="text-align: center" type="text" name="" id=""></td>
          <td><input readonly v-model="twoOneOfPayment2" style="text-align: center" type="text" name="" id=""></td>
          <td><input readonly v-model="twoOneAnnualPaymentRed2" style="text-align: center" type="text" name="" id=""></td>
  
        </tr>
        <tr class="green">
          <td></td>
          <td></td>
  
  
          <td style="text-align: end;margin-right: 20px;" colspan="2">Total Payment Reduction</td>
          <td ><input class="green" readonly v-model="twoOneTotalPaymentRed" style="text-align: center" type="text" name="" id=""></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
  
  
          <td colspan="2" style="text-align: end;margin-right: 20px;">Buy Down Pricing</td>
          <td  class="yellow"  ><input class="yellow" readonly v-model="twoOneBuyDownPricing" style="text-align: center" type="text" name="" id=""></td>
        </tr>
  
      </table>
  
  
      <h2 class="table-header">1-0 BUY DOWN</h2>
  
      <table id="customers" style="text-align: center;">
        <tr>
          <th>Interest Rate</th>
          <th>Monthly Payment</th>
          <th>Monthly Payment Reduction</th>
          <th># of Payments</th>
          <th>Annual Payment Reduction</th>
  
  
        </tr>
     
        <tr>
          <td><input readonly v-model="zeroOneInterestRate2" style="text-align: center" type="text" name="" id=""></td>
          <td><input readonly v-model="zeroOneMonthlyPayment2" style="text-align: center" type="text" name="" id=""></td>
          <td><input readonly v-model="zeroOneMonthlyPaymentReduction2" style="text-align: center" type="text" name="" id=""></td>
          <td><input readonly v-model="zeroOneOfPayment2" style="text-align: center" type="text" name="" id=""></td>
          <td><input readonly v-model="zeroOneAnnualPaymentRed2" style="text-align: center" type="text" name="" id=""></td>
  
        </tr>
        <tr  class="green" >
          <td></td>
          <td></td>
  
  
          <td style="text-align: end;margin-right: 20px;" colspan="2">Total Payment Reduction</td>
          <td ><input  class="green"  readonly v-model="zeroOneTotalPaymentRed" style="text-align: center" type="text" name="" id=""></td>
        </tr>
        <tr >
          <td></td>
          <td></td>
  
  
          <td style="text-align: end;margin-right: 20px;" colspan="2">Buy Down Pricing</td>
          <td  class="yellow"  ><input  class="yellow"  readonly v-model="zeroOneBuyDownPricing" style="text-align: center" type="text" name="" id=""></td>
        </tr>
  
      </table>
  
    </div>
  
  
  
  </div>