<div class="app-container">

  <div class="app-content">
      <div class="content">
          <div class="row  justify-content-between">
              <div class="col-4 ">
                  <div class="inputContainer">

                      <div class="loan-block mb-4">
                          <span class="light-black">Loan Amount: </span>
                          <h2 class="m-0 green" v-text="loanAmountFormatted">$300,000</h2>
                          <div class="sliders mt-3">
                              <input class="slider" min="0" max="3000000" v-model="loanAmount" type="range" step="any"
                                  name="" id="">
                          </div>
                      </div>


                      <div class="interest-block mt-8">
                          <span class="light-black">Interest Rate (Annual):</span>
                          <h2 class="m-0 green" v-text="interestRateAnnualFormatted"></h2>
                          <div class="sliders mt-3">
                              <input class="slider" min="0" max="20" v-model="interestRateAnnual" type="range"
                                  step="0.1" name="" id="">
                          </div>
                      </div>

                      <div class="interest-block mt-8">
                          <span class="light-black">Loan Period (In Years):</span>
                          <div class="periods">
                              <div @click="selectPeriod(period)" class="period" v-for="period in periods"
                                  :class="period == loanPeriodInYears?'active':''">
                                  <div> {{ period }}</div>
                              </div>
                          </div>
                      </div>
                      <div class="interest-block mt-8">
                          <div class="row">
                              <div class="col">
                                  <span class="light-black">Monthly Payment:</span>
                              </div>
                              <div class="col-4">
                                  <span class="" v-text="monthlyPaymentFormatted"></span>
                              </div>
                          </div>
                          <div class="row mt-2">
                              <div class="col">
                                  <span class="light-black">Total Payments:</span>
                              </div>
                              <div class="col-4">
                                  <span class="" v-text="totalPaymentFormatted"></span>
                              </div>
                          </div>

                      </div>

                  </div>





              </div>
              <div class="col-8 right-section">
                  <div class="d-flex flex-col justify-content-md-around align-items-center"
                      style="flex-direction:column ;height: 590px">
                      <div class="top-buttons ">
                          <div class="d-flex align-items-center justify-content-center">
                              <div @click="onRateSelect(rate)" class="circle-button" v-for="rate in rateList"
                                  :class="rate == activeRate?'circle-active':''">
                                  <p>
                                      {{ rate }} <br>
                                      Buy Down
                                      </span>

                              </div>

                          </div>



                      </div>
                      <div class="rate-results">

                          <div v-if="activeRate=='3-2-1'">
                              <h2>Coming Soon...</h2>
                          </div>

                          <div v-if="activeRate=='2-1'">
                              <table id="customers" style="text-align: center;">
                                  <tr>
                                      <th>Interest <br> Rate</th>
                                      <th>Monthly <br> Payment</th>
                                      <th>Monthly Payment Reduction</th>
                                      <th># of <br> Payments</th>
                                      <th>Annual Payment Reduction</th>


                                  </tr>
                                  <tbody class="tbody">
                                      <tr>
                                          <td class="top-left-border">
                                              <span>{{ formatDecimal(twoOneInterestRate1) }}</span>
                                          </td>
                                          <td><span> {{ format(twoOneMonthlyPayment1) }}</span> </td>
                                          <td> <span>{{ format(twoOneMonthlyPaymentReduction1) }}</span></td>
                                          <td> <span>{{ twoOneOfPayment1}}</span> </td>
                                          <td class="top-right-border"> <span>{{
                                                  format(twoOneAnnualPaymentRed1)}}</span></td>

                                      </tr>


                                      <tr>
                                          <td class="bottom-left-border">
                                              <span>{{ formatDecimal(twoOneInterestRate2) }}</span>
                                          </td>
                                          <td><span> {{ format(twoOneMonthlyPayment2) }}</span> </td>
                                          <td> <span>{{ format(twoOneMonthlyPaymentReduction2) }}</span></td>
                                          <td> <span>{{ twoOneOfPayment2 }}</span> </td>
                                          <td class="bottom-right-border"> <span>{{
                                                  format(twoOneAnnualPaymentRed2)}}</span></td>

                                      </tr>
                                  </tbody>



                              </table>
                              <br>
                              <div class="footer">
                                  <div class="bg-green top-left-border top-right-border">
                                      <span>Total Payment Reduction: {{ format(twoOneTotalPaymentRed )}}</span>
                                  </div>
                                  <div class="bg-yellow bottom-left-border bottom-right-border">
                                      <span>Buy Down Pricing: {{ format(twoOneBuyDownPricing )}}</span>
                                  </div>

                              </div>
                          </div>
                          <div v-if="activeRate=='1-0'">
                              <table id="customers" style="text-align: center;">
                                  <tr>
                                      <th>Interest <br> Rate</th>
                                      <th>Monthly <br> Payment</th>
                                      <th>Monthly Payment Reduction</th>
                                      <th># of <br> Payments</th>
                                      <th>Annual Payment Reduction</th>


                                  </tr>
                                  <tbody class="tbody">
                                      <tr>
                                          <td class="top-left-border">
                                              <span>{{ formatDecimal(zeroOneInterestRate2) }}</span>
                                          </td>
                                          <td><span> {{ format(zeroOneMonthlyPayment2) }}</span> </td>
                                          <td> <span>{{ format(zeroOneMonthlyPaymentReduction2) }}</span></td>
                                          <td> <span>{{ zeroOneOfPayment2}}</span> </td>
                                          <td class="top-right-border"> <span>{{
                                                  format(zeroOneAnnualPaymentRed2)}}</span></td>

                                      </tr>

                                  </tbody>



                              </table>
                              <br>
                              <div class="footer">
                                  <div class="bg-green top-left-border top-right-border">
                                      <span>Total Payment Reduction: {{ format(zeroOneTotalPaymentRed )}}</span>
                                  </div>
                                  <div class="bg-yellow bottom-left-border bottom-right-border">
                                      <span>Buy Down Pricing: {{ format(zeroOneBuyDownPricing )}}</span>
                                  </div>

                              </div>
                          </div>
                         

                      </div>

                  </div>



              </div>

          </div>

      </div>
      <div class="footer-links mt-8">

        <span @click="onModalOpen" class="save-button light-black"> click here to start saving!</button>
      </div>

      <div class="roundbox">
      </div>


  </div>






  <div class="modal-overlay" v-if="showModal" @click="onModalClose">


    <div class="modal-container">
      <div class="modal" @click.stop>


        <div class="row  align-items-center">
          <div class="col " style="text-align:right;"> 
            <p>Your first name </p>
           
          </div>
          <div class="col"> : <input type="text"> 
            
          </div>
  
        
  
        </div>
        <div class="row  align-items-center">
          <div class="col" style="text-align:right;">
            <p>Your phone or email</p>
          </div>
          <div class="col"> : <input type="text"></div>
  
        </div>
        <div class="d-flex  mt-4 justify-content-center align-items-center">
          <div class="col"></div>
          <div class="col ">     
             <span class="modal-button">Submit</span>
          </div>
        </div>
        
      </div>
      <div class="modal-round">

      </div>
    </div>
   
    <div class="close">
      <img class="close-img" src="~/assets/close-icon.svg" alt="" />
    </div>
  </div>
 



</div>